@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  box-sizing: content-box;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

nav {
  height: 48px;
  max-height: 44px;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;	
  z-index: 9999;
  background: rgba(0,0,0,0.8);
}

nav > a {	
  color: #fff;
  text-decoration: none;

}
nav > i {
  padding: 0 10px;
  color: #555;
}

header {
  padding: 20vw 2em;
  background-color: #263d36;
  background-image: url("res/background1.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; 
  opacity: 0.90;
}
header img{
  display: inline-block;
  height: 200px;
  border-radius: 50%; 
  vertical-align: top;
  width: 200px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
}

header a:hover {
  background:  #e81c4f;
  color: white;
  font-size: 60%;
}
.container {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1 > span{
  float: right;
  clear:both;
}

h1,h2,strong {
  color: #333;
}

#work h4 {
  color: #13004d;
  margin-bottom: 1px;
}

#work h5 {
  margin-top: 1px;
}

a {
  color: #e81c4f;
}

a:hover {
  color:red;
  font-size: 150%;
}

i {
  style : "font-size:48px;"
}

